{% extends "base.html" %}
{% load static %}

{% block title %}
{{ super.title }} - Home
{% endblock %}

{% block content %}

        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <div class="breadcrumb-area breadcrumb-bg s-breadcrumb-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="dots"></li>
                                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Air Freight</li>
                                        <li class="dots2"></li>
                                    </ol>
                                </nav>
                                <h2>Air Freight</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- breadcrumb-area-end -->

            <!-- services-details -->
            <div class="services-details-area pt-120 pb-115">
                <div class="container">
                    <div class="services-details-wrap">
                        <div class="row">
                            <div class="col-lg-4 order-2 order-lg-0">
                                <aside class="services-sidebar">
                                    <div class="services-widget mb-40">
                                        <div class="service-widget-title">
                                            <h3>Service Category</h3>
                                        </div>
                                        <div class="service-cat-list">
                                            <ul>
                                                <li><a href="#">All Service</a></li>
                                                <li class="active"><a href="service-air.html">Air Freight</a></li>
                                                <li><a href="service-warehouse.html">Cargo Warehouse</a></li>
                                                <li><a href="service-Railway.html">Railway Freight</a></li>
                                                <li><a href="service-door-to-door.html">Door To Door Service</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="services-widget mb-40">
                                        <div class="service-doc-list">
                                            <ul>
                                                <li><a href="#">Startesk Company Listing <i class="fas fa-file-pdf"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="services-widget mb-40">
                                        <div class="service-sidebar-support">
                                            <h3>Need Support?</h3>
                                            <p>Express delivery is an innovative service is effective logies</p>
                                            <a href="#" class="btn">contact Us</a>
                                        </div>
                                    </div>
                                    <div class="services-widget">
                                        <div class="service-widget-title dark-bg">
                                            <h3>Tags Post</h3>
                                        </div>
                                        <div class="service-tag-list">
                                            <ul>
                                                <li><a href="#">Business</a></li>
                                                <li><a href="#">Transport</a></li>
                                                <li><a href="#">Logisticsatv</a></li>
                                                <li><a href="#">Transportations</a></li>
                                                <li><a href="#">Who</a></li>
                                                <li><a href="#">Creative</a></li>
                                                <li><a href="#">Cargos</a></li>
                                                <li><a href="#">Delivery</a></li>
                                                <li><a href="#">Warehouse</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                            <div class="col-lg-8">
                                <div class="services-details-content">
                                    <h4>How It Works?</h4>
                                    <p>Express delivery is an innovative service is effective logistics solution for the delivery of small cargo. This service
                                    is useful for companies of various effective logistics scale.transport logistic is the world´s biggest trade show for
                                    logistics, mobility, IT and supply chain management. It takes place every two years in early May, at the Messe München
                                    exhibition center in Munich</p>
                                    <p>Logistics solution for the delivery of small cargo. This service is useful for companie various effective logistics
                                    scale.transport logistic is the world´s biggest trade show for logistics, mobility, IT and supply chain management. It
                                    takes place every two years.</p>
                                    <div class="services-details-img">
                                        <img src="img/images/services_details_img.jpg" alt="">
                                    </div>
                                    <h4>Was Our Solution Best?</h4>
                                    <p>Express delivery is an innovative service is effective logistics solution for the delivery of small cargo. This service
                                    is useful for companies of various effective logistics scale.transport logistic is the world´s biggest trade show for
                                    logistics, mobility, IT and supply chain management. It takes place every two years in early May, at the Messe München
                                    exhibition center in Munich</p>
                                    <div class="services-details-list">
                                        <ul>
                                            <li><i class="fas fa-arrow-alt-circle-right"></i>Express delivery is an innovative service</li>
                                            <li><i class="fas fa-arrow-alt-circle-right"></i>Logistics scale transport innovative</li>
                                            <li><i class="fas fa-arrow-alt-circle-right"></i>Help transportation and logistics companies</li>
                                        </ul>
                                    </div>
                                    <p>Logistics solution for the delivery of small cargo. This service is useful for companie various effective logistics
                                    scale.transport logistic is the world´s biggest trade show for logistics.</p>
                                    <blockquote class="services-blockquote">
                                        Express delivery is an innovative service is effective logistics solution for the deliver small cargo service is useful
                                        for companies
                                        <footer class="services-blockquote-footer">Jonso Watson</footer>
                                    </blockquote>
                                    <h4>Was Our Solution Best?</h4>
                                    <p>Express delivery is an innovative service is effective logistics solution for the delivery of small cargo. This service
                                    is useful for companies of various effective logistics scale.transport logistic is the world´s biggest trade show for
                                    logistics, mobility management.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- services-details-end -->


        </main>
        <!-- main-area-end -->

{% endblock %}